<!doctype html>
<html>
<head>
    <title>Meadowlark Travel</title>
    {{#if showTests}}
        <link rel="stylesheet" href="/vendor/mocha.css">
    {{/if}}
    <link type="text/css" media="screen" rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link type="text/css" media="screen" rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.css"/>

    <script rel="script" src="/bower_components/angular/angular.js"></script>
    <script rel="script" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script rel="script" src="/bower_components/jquery/dist/jquery.min.js"></script>
    {{{_sections.head}}}

</head>

<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img alt="Brand" src="...">
            </a>
        </div>
    </div>
</nav>
<div class="container">

{{{body}}}
</div>

<footer class="panel-footer">&copy; {{copyrightYear}} Meadowlark Travel</footer>
{{#if showTests}}
    <div id="mocha"></div>
    <script src="/vendor/mocha.js"></script>
    <script src="/vendor/chai.js"></script>
    <script>
        mocha.ui('tdd');
        var assert = chai.assert;
    </script>
    <script src="/qa/tests-global.js"></script>
    {{#if pageTestScript}}
        <script src="{{pageTestScript}}"></script>
    {{/if}}
    <script>mocha.run();</script>
{{/if}}
{{{_sections.jquery}}}
</body>



</html>
